{% extends 'PathologyBundle::admin_dashboard.html.twig' %}

{% block title %}Add Operator{% endblock %}

{% block body %}

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit">Add</button>
  {{ form_end(form) }}

{% endblock %}


